/* header top */
.topbar {
          direction: rtl;
}

.menu-top-link,
.useful-links {
          text-align: right;
}

.top-end {
          text-align: right;
}

.user-login {
          direction: ltr;
          text-align: left;
}

.user-login li {
          display: inline-block;
          margin-left: 10px;
}

.header .topbar .top-left .menu-top-link li {
          display: inline-block;
          margin-left: 20px;
}





/* header middle */
.header-middle {
          direction: rtl;
}

.navbar-brand {
          text-align: right;
}

.main-menu-search {
          text-align: right;
}

.middle-right-area {
          text-align: right;
}

.nav-hotline {
          text-align: right;
}

.navbar-cart {
          text-align: left;
}

.wishlist {
          text-align: left;
}

.navbar-cart {
          text-align: left;
}

.navbar-nav .nav-item:last-child {
          margin-right: 40px !important;
}

.navbar-nav .nav-item a.dd-menu::after {
          content: "\ea5e";
          font: normal normal normal 1em/1 "LineIcons";
          position: absolute;
          right: 50px;
          font-size: 12px;
          top: 50%;
          margin-left: 5px;
          margin-top: -4px;
          -webkit-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s;
          height: 10px;
}

.header .navbar-cart .cart-items .shopping-item {
          left: 0;
          top: 30px;
}


/* header bottom */

.container.header-bottom {
          direction: rtl;
}

.mega-category-menu .sub-category,
.nav-inner .navbar-nav,
.nav-social ul {
          text-align: right;
}

.header .mega-category-menu {
          position: relative;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          border-left: 1px solid #eee;
          margin-right: 40px;
          margin-left: 0px;
          padding-left: 112px;
          padding-right: 0px;

          cursor: pointer;
}

.header .mega-category-menu .cat-button i {
          display: inline-block;
          margin-left: 12px;
          font-size: 20px;
          position: relative;
          top: 2px;
}

.nav-inner .navbar-toggler {
          float: right;
}

.nav-inner .navbar-collapse {
          text-align: right;
}

.nav-inner .navbar-nav .nav-item {
          float: right;
}

.nav-inner .nav-social {
          text-align: left;
}


/* custom css */

.btn-plus {
          width: 30px;
          color: white;
          background-color: #26be53;
          margin-left: 10px;
          font-size: 20px;
}

.btn-minus {
          width: 30px;
          color: white;
          background-color: #cd3c3c;
          margin-right: 10px;
          font-size: 20px;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
          border-color: #dc3545;
}

.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control:invalid:focus {
          border-color: #dc3545;
          box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.custom-select.is-invalid~.invalid-feedback,
.custom-select.is-invalid~.invalid-tooltip,
.form-control.is-invalid~.invalid-feedback,
.form-control.is-invalid~.invalid-tooltip,
.was-validated .custom-select:invalid~.invalid-feedback,
.was-validated .custom-select:invalid~.invalid-tooltip,
.was-validated .form-control:invalid~.invalid-feedback,
.was-validated .form-control:invalid~.invalid-tooltip {
          display: block;
}

.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control {
          position: relative;
          -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          width: 1%;
          margin-bottom: 0;
}

.input-group>.custom-file:focus,
.input-group>.custom-select:focus,
.input-group>.form-control:focus {
          z-index: 3;
}

.input-group>.custom-file+.custom-file,
.input-group>.custom-file+.custom-select,
.input-group>.custom-file+.form-control,
.input-group>.custom-select+.custom-file,
.input-group>.custom-select+.custom-select,
.input-group>.custom-select+.form-control,
.input-group>.form-control+.custom-file,
.input-group>.form-control+.custom-select,
.input-group>.form-control+.form-control {
          margin-left: -1px;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
}

.input-group>.custom-select:not(:first-child),
.input-group>.form-control:not(:first-child) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
}

.custom-select {
          display: inline-block;
          width: 100%;
          height: calc(2.25rem + 2px);
          padding: .375rem 1.75rem .375rem .75rem;
          line-height: 1.5;
          color: #495057;
          vertical-align: middle;
          background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
          background-size: 8px 10px;
          border: 1px solid #ced4da;
          border-radius: .25rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
}

.custom-select:focus {
          border-color: #80bdff;
          outline: 0;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(128, 189, 255, 0.5);
}

.custom-select:focus::-ms-value {
          color: #495057;
          background-color: #fff;
}

.custom-select[multiple],
.custom-select[size]:not([size="1"]) {
          height: auto;
          padding-right: .75rem;
          background-image: none;
}

.custom-select:disabled {
          color: #6c757d;
          background-color: #e9ecef;
}

.custom-select::-ms-expand {
          opacity: 0;
}

.custom-select-sm {
          height: calc(1.8125rem + 2px);
          padding-top: .375rem;
          padding-bottom: .375rem;
          font-size: 75%;
}

.custom-select-lg {
          height: calc(2.875rem + 2px);
          padding-top: .375rem;
          padding-bottom: .375rem;
          font-size: 125%;
}




